*::after,
*::before {
  @apply leading-none text-[0];
}

.fa-solid::after,
.fa-solid::before,
.fa-brands::after,
.fa-brands::before,
.fa-regular::after,
.fa-regular::before {
  @apply text-base leading-[1];
}

html {
  @apply scroll-smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.nav-sticky {
  @apply top-0 py-3 backdrop-blur-2xl transition-all duration-500;
}

.mobile-menu {
  @apply bg-primary dark:bg-dark fixed top-0 right-0 z-[9999] h-screen w-full rounded-none p-2.5 px-10 transition-all duration-500 ease-in-out;
}

.mobile-menu.open {
  @apply translate-x-0;
}

.mobile-menu.close {
  @apply translate-x-full;
}

.active {
  @apply border-borderColour dark:border-borderColour/10 dark:bg-dark-200 bg-white;
}

.section-tagline {
  @apply mb-3 leading-[1.3] font-medium uppercase;
}

.faq-item:has(.open) {
  @apply shadow-nav;
}

.faq-body {
  transition: height 300ms ease;
  @apply transition-[height] duration-300 ease-in-out;
}

.faq-header .plus {
  @apply inline-block;
}

.faq-header .minus {
  @apply hidden;
}

.faq-header.open .plus {
  @apply hidden;
}

.faq-header.open .minus {
  @apply inline-block;
}

.faq-body.close {
  @apply hidden;
}

.faq-body.collapsing {
  @apply h-0 overflow-hidden;
}

.faq-body.open {
  @apply block;
}

/* Social Links */
.social-link li a:hover svg path {
  @apply fill-primary transition-all duration-300 ease-linear;
}

.social-link li svg path {
  @apply fill-paragraph transition-all duration-300 ease-linear dark:fill-gray-100;
}

/* Swiper Pagination */
.swiper-pagination-bullet {
  @apply border-paragraph dark:border-primary h-[9px] w-[9px] rounded-full border bg-transparent opacity-100;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply border-paragraph bg-primary dark:border-primary dark:bg-primary/25 h-3.5 w-3.5 rounded-full border;
}

.swiper-pagination-bullets {
  @apply mx-auto flex items-center justify-center;
}

/* Fancybox */
.f-button svg {
  @apply stroke-white;
}

.fancybox__container {
  @apply z-1111111100;
}

.fancybox__carousel {
  @apply z-[111111110000];
}

/* Motion Animation */
#rect,
#rect-2,
#rect-3,
#rect-4,
#rect-5,
#rect-6 {
  opacity: 0;
}

/* Single Page */
.singlePage h2 {
  @apply mb-9;
}

.singlePage h3 {
  @apply mt-12 mb-5;
}

.singlePage p {
  @apply mb-12;
}

.singlePage ul {
  @apply mb-12;
}

.singlePage ul li {
  @apply font-jakarta relative pl-10 font-semibold dark:text-white;
}

.singlePage ul li:not(:last-child) {
  @apply mb-6;
}

.singlePage ul li:before {
  @apply text-paragraph dark:text-primary absolute left-0 h-7 w-7 content-[url('/images/checkmark.svg')] max-md:top-0 md:top-1/2 md:-translate-y-1/2 dark:content-[url('/images/checkmark-dark.svg')];
}

.singlePage div {
  @apply mb-16;
}

/* Modal */
.modal-bg {
  @apply fixed top-0 left-0 z-[1000000000000] h-full w-full bg-[#1c1c1c30] opacity-100 backdrop-blur-md;
}

.modal-align {
  @apply flex h-[100vh] w-[100vw] items-center justify-center;
}

.modal-content {
  @apply relative z-50 aspect-video max-h-40 w-[800px] bg-transparent bg-white max-md:w-[100vw] max-sm:w-full;
}

.modal-close {
  @apply bg-primary dark:text-paragraph absolute -top-12 right-4 cursor-pointer rounded-full px-[18px] py-3 text-base lg:-top-8 lg:-right-8;
}

.modal-video-align {
  @apply aspect-video w-full;
}

/* Company Bar */
.comapny-bar circle {
  stroke-dasharray: 100px;
}

/* Integration Slider */
.integration-slider {
  display: flex;
  position: relative;
  align-items: center;
  height: 350px;
}

.integration-slider::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  background: linear-gradient(270deg, #ffffff 34%, rgba(255, 255, 255, 0) 90%);
  width: 45%;
  height: 100%;
  content: '';
}

.integration-slider::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  background: linear-gradient(90deg, #ffffff 34%, rgba(255, 255, 255, 0) 90%);
  width: 40%;
  height: 100%;
  content: '';
}

.integration-slider .swiper-wrapper {
  display: flex !important;
  align-items: center !important;
  height: auto !important;
}

.integration-slider-shape {
  position: absolute;
  left: calc(50% - 170px / 2);
  backdrop-filter: blur(15px);
  border-radius: 100%;
  background: linear-gradient(180deg, rgba(177, 227, 70, 0.6) 0%, rgba(177, 227, 70, 0.3) 100%);
  width: 170px;
  height: 170px;
}

.integration-slider-shape::after {
  position: absolute;
  top: calc(50% - 260px / 2);
  left: calc(50% - 260px / 2);
  backdrop-filter: blur(15px);
  border-radius: 100%;
  background: linear-gradient(180deg, rgba(177, 227, 70, 0.2) 0%, rgba(177, 227, 70, 0.1) 100%);
  width: 260px;
  height: 260px;
  content: '';
}

.integration-slider-shape::before {
  position: absolute;
  top: calc(50% - 350px / 2);
  left: calc(50% - 350px / 2);
  backdrop-filter: blur(15px);
  border-radius: 100%;
  background: linear-gradient(180deg, rgba(177, 227, 70, 0.2) 0%, rgba(177, 227, 70, 0.1) 100%);
  width: 350px;
  height: 350px;
  content: '';
}

/* Dark Mode */
.dark .integration-slider::after {
  background: linear-gradient(270deg, #191917 30.7%, rgba(25, 25, 23, 0) 100%);
}

.dark .integration-slider::before {
  background: linear-gradient(90deg, #191917 30.7%, rgba(25, 25, 23, 0) 100%);
}

.dark .integration-slider-shape {
  background: linear-gradient(180deg, rgba(177, 227, 70, 0.6) 0%, rgba(177, 227, 70, 0.3) 100%);
}

.dark .integration-slider-shape::after {
  background: linear-gradient(180deg, rgba(177, 227, 70, 0.2) 0%, rgba(177, 227, 70, 0.1) 100%);
}

.dark .integration-slider-shape::before {
  background: linear-gradient(180deg, rgba(177, 227, 70, 0.2) 0%, rgba(177, 227, 70, 0.1) 100%);
}

/* Tabs */
[data-tab-content] {
  display: none;
}

.tab-items-active[data-tab-content] {
  display: block;
}

/* Stack Cards */
.stack-cards {
  --stack-cards-gap: var(--space-sm);
}

.stack-cards--item {
  position: sticky;
  top: 80px;
  transform-origin: center top;
}

.cryptoMarketItems > *:nth-child(even) .cryptoMarketItems-image {
  order: 2;
  margin-top: 24px;
}

.cryptoMarketItems > *:nth-child(3) .cryptoMarketItems-image {
  margin-bottom: 24px;
}

/* Card Container */
.cardContainer {
  position: sticky;
  top: 120px;
}

.cardContainer .card {
  display: flex;
  position: relative;
}

.hero-text-gradient {
  animation: textAnimate 5s linear infinite;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background-repeat: no-repeat;
  color: transparent;
}

.hero-text-color-1 {
  background-image: linear-gradient(45deg, #a585ff, #ffc2ad, #a585ff);
}

.hero-text-color-2 {
  background-image: linear-gradient(45deg, #83e7ee, #f9eb57, #83e7ee);
}
