@layer base {
  * {
    @apply text-paragraph font-Inter dark:text-white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-jakarta text-paragraph dark:text-white;
  }

  h1 {
    @apply text-[36px] leading-[1.2] font-bold max-xl:leading-[1.33] xl:text-[64px];
  }

  h2 {
    @apply text-[32px] leading-[1.33] font-bold xl:text-[36px];
  }

  h3 {
    @apply text-[22px] font-semibold xl:text-[24px];
  }

  h4 {
    @apply text-xl font-normal;
  }

  h5 {
    @apply text-lg font-normal;
  }

  h6 {
    @apply text-base font-normal;
  }
  p {
    @apply font-Inter text-paragraph text-base leading-[1.75] font-normal -tracking-[0.3px] dark:text-white;
  }
  em {
    @apply not-italic;
  }
  a {
    @apply font-Inter text-paragraph inline-block text-base leading-[1.75] font-normal -tracking-[0.3px] dark:text-white;
  }
}
